<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-danger btn-lg btn-block" type="button" type="submint">
       <a href="/solvp/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
         <h6 class="text-light">SOLERA - Cuenca 2756 - Villa del Parque - Tel.4501-1352</h6>                                        
       </a>  
     </button>   
   </div>
 </div>

   </body>
</html>
