    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADAS . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA / AGUA MINERAL .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP O BALON . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA /NOIRE/ . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/1890 . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1Y1/2 .LTS  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTI FRUTTI AL AGUA . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTI FRUTTI C/LECHE . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE SIDR/VINO . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE CHAMPAGNE . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO DE LA CASA . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE O JUGO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE . . . . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE 1/2 . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HEINEKEN SALON . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 375CC . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO DE LIMON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VINO/MOSCATO CROTTA  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1/2 CROTTA . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1L CROTTA . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPAGNE . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA/CIN/MART . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES/OLD SMUGLERS .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS/PREMIUM . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>J B/BALLANTINES . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA RES.SAN JUAN .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI O FERNET . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CORTE DE GIN FERN O CAMP  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO JARRA 1/2 LITRO . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO JARRA 1 LITRO . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">                    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-success text-uppercase text-center">PROMO BEBIDAS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">Promociones </h6>                                  
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo bebidas               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">                    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-success text-uppercase text-center">PROMO BEBIDAS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">Promociones </h6>                                  
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo bebidas               $0</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/solvp/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
