    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADAS . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA / AGUA MINERAL .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP IMPERIAL 330ML . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA /NOIRE/ . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL-IPA-APA . .970ML $350</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1Y1/2 .LTS  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTI FRUTTI AL AGUA . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTI FRUTTI C/LECHE . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE SIDR/VINO . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE CHAMPAGNE . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO DE LA CASA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE O JUGO $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE . . . . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE 1/2 . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA .HEINEKEN . 473ML .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 375CC . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO DE LIMON . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VINO/MOSCATO CROTTA  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1/2 CROTTA . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1L CROTTA . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPAGNE . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA/CIN/MART . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES/OLD SMUGLERS .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS/PREMIUM . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>J B/BALLANTINES . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA RES.SAN JUAN .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI O FERNET . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CORTE DE GIN FERN O CAMP  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO JARRA 1/2 LITRO . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO JARRA 1 LITRO . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . . $1600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/solvp/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
