    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES/ARABES CA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDWICH QUESO SOLO . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDWICH JAMON SOLO . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO Y QUESO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE CRUDO SOLO . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDWICH CRUDO Y QUESO .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE POLLO . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE CHURRASQUITO . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND POLLO CLAS/CUEN/DEL  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CHURRAS CLAS/CUE/DEL $700</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE MILANESA . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO/CUE/DEL $650</li>                          
                <li class="text-center"><span class="fa-li"></span>REC LECH/TOM/HUE/QUESO .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC ANANA/ PALM/ MORRO .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CHEDDAR . . . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU PIBES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU PIBES . . . . . . .  $530</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLOS DESHUESADOS</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLOS ESPECIALES . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SOLERA . . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND/POLLA NE$1400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZERIA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA C/JAMON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRON .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZETA RELLENA $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELL C/JAMON $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION PIZZA NAPO . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS (VERD/POLLO/TRIC)  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON . . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE AJO AL OLEO . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAM/MORRON . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ANCHOAS . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA/QUESO . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPOLITANA . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPO ESPECIAL . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA . . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AJO AL OLEO . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAM/MORR . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE ANCHOAS . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE FUGAZZA . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGA C/QUESO . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO . . . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO ESPECIAL . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>IND MUZZA . . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>IND JAMON . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>IND AJO AL OLEO . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>IND JAMON/MORRO . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>IND ANCHOAS . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>IND FUGAZZA . . . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>IND FUG C/QUESO . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>IND NAPO . . . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>IND NAPO ESP . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CALABRESA . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PROVOLONE . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PALMITOS . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROQUE . . . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CARIBENA . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CHAMPIGNON . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE VERDE . . . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE SOLERA . . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROMANA . . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GR MARGARITA . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUE . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CARIBENA . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CHAMPIGNON . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA SOLERA . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROMANA . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHI MARGARITA . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CALABRESA . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND PROVOLONE . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND PALMITOS . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>IND ROQUE . . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CARIBENA . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CHAMPIGNON . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND VEDURA . . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND SOLERA . . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>IND ROMANA . . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>IND MARGARITA . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>GR IBERICA . . . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUG RELLENA . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GR HISPANA . . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GR CARBONARA . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GR CUATRO QUESOS . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GR CUATRO ESTACIONES . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGA RELL CON JAMON . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CHI IBERICA . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CHI HISPANA . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHI CARBONARA . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CH CUATRO QUESOS . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>IND IBERICA . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>IND HISPANA . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CARBONARA . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CUATRO QUESOS . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONES VARIOS GRANDES .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONES VARIOS CHICOS . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA AL VERDEO . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BASTONCITOS DE MOZZARELLA $800</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . .$1600</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PROVENZAL . . . . .$1650</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO PORCION . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON SALSA GOLF .$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON O MAYONESA AVE . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA O SALPIC DE ATUN $800</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MUZZARELLA . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PLATO SOLERA . . . . . . $1700</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DADITOS . . . . . . . $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>REC.ATUN-POLLO-PAL.ENSALA  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS HASTA 3 ING . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS HASTA 4 ING . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS HASTA 6 ING . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADAS ESPECIALES . .  $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES Y TORTILLA</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE SUIZO . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE SOLERA/ESPECIAL  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPAS/VERDURA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA Y CEBOLL $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS / PARA  ACOM</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU DEL DIA . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>REC GUAR ESPECIAL . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA RUSA PORCION . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FRITAS/PURE . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>FRITAS CON CHEDDAR . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ A LA GRIEGA . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PROVENZAL . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARN ESPINACA A LA CREMA $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ BLANCO PORCION . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA O SUPREMA PARISSIENE$1000</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPO/MUZZA . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN COMPLETA . . .  $770</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA RIOJANA . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA .POLLO . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA COMPLETA . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO/MUZZA . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS Y SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREPPES JAMON Y MUZZA . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES (PV /JQ) . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES . . . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS/SPAGHETTIS . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT/AGNOLO . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA GRAN CARUSSO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA/MIXTA/FIL/BLA $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESOS . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENNE . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL PESTO . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE ESTOFADO . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE/POLLO . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY/CURATTO . $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS  APTO CELIACO</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CELIACO TARTA . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CELIACO EMP . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>CELIACO PIZZA . . . . . . $490</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/solvp/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
