    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE/LUN . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE/LECHE/TOSTADAS . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALI . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMER/CREMA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO/CHOCOLATADA . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE / 2 LUNAS .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE .DESCAFEINADO . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE VASO . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VASITO ENS FRUTA/JUGO . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS 1/4 . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJOR DE MAIZENA . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SOLERA . . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/L+1/2 TOST . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES .ESPECIALES . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE CON TORTA  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS ARTESANALES  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTAS CASERAS PORCION .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RICOTA/FROLA/MANZANA . .  $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/solvp/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
