    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN . . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZ/ANANA EN ALMIB . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUT C/HELADO . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DE CREMA O DULCE . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE TRICOLOR (QBM)  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA C/ HELADO . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE TATIN . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE BELG/SOLERA . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZ QUEMADO .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE O CREMA . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT/MELBA/AFRICA $800</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRITO . . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON CHAMP . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/solvp/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
